<!-- <div class="container">
    <div class="col">
        <div class="row mb-5">
            <h1><u>{{single[0].name}}</u></h1>
            <img src="../../../assets/images/{{single[0].image}}" class="ind" alt="">
            <p>{{single[0].desc}}</p>
        </div>
    </div>
</div> -->

<div class="clearfix"><br>
    <h2 class="text-center"><u><b>{{single[0].name}}</b></u></h2>
    <br>
    <div class="container text-center">
        <div class="row ">
          <div class="col-sm-6">
            <img src="../../../assets/images/{{single[0].image1}}"  alt="..."  height="400px">
          </div>
          <div class="col">
             <p>{{single[0].desc}}</p>
          </div>
        </div>
      </div>

    
  
   
  </div>