
      <!-- <div class="grid-container"> -->
        <!-- <div class="grid-item"><img src="./images/kerala.jpg" class="img-fluid" alt="..."></div> -->
      <!-- </div> --><br>
      <div class="container" background="../../../assets/images/back.jpg">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" >
              <img src="../../../assets/images/kada.jpg" class="d-block w-100" alt="..." height="480px">
              <div class="carousel-caption d-none d-md-block">
                <h5><b><i>India is known for traditional arts,cultural forms and sometime reffered as land of festivals.</i></b></h5>
                <p></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/mohiniyattam_dance.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5><b><i>There are various communities in India who contribute diverse forms of performing arts and colorful culture.</i></b></h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/Chakyarkoothu.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5><b><i>India is home to over 50 traditional folk and tribal arts. These Indian folk arts have been passed down from generation to generation for more than 3000 years.
                </i></b>
                </h5>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div>
